@charset "utf-8";
/* CSS Document */
/*页面初始化*/
button{ border:none;}
*{padding:0px; margin:0px;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none; border:none; background:#FFF;}
textarea{resize:none;}
a{text-decoration:none !important;}

body{font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif !important;}

/*提示框*/

#div_cue{width:362px; height:192px; background:#fcfcfc; border-radius:5px; position:absolute; left:50%; top:50%; margin-left:-181px; margin-top:-96px; z-index:100000; box-shadow:2px 2px 5px #7F7F7F;}
#div_cue_move{width:362px; height:44px; border-top-left-radius:5px; border-top-right-radius:5px; border:efefef; border-bottom:1px solid #ADADAD; background: #f1f1f1; cursor:move;}
#div_cue_move :nth-child(1){ float:left; padding:10px; color:#4E4E4E; font-size:14px;}
#div_cue_move :nth-child(2){ float:right; color:#E93428; cursor:pointer; padding:2px;  background:#686868; margin-right:5px; margin-top:5px; border-radius:2px; z-index:110000; opacity:0.6; filter:alpha(opcity:60);}
#div_cue_inner ul{ padding:25px;}
hr{width:100%; position:absolute; bottom:35px;}
#div_sure{ position:absolute; bottom:12px; text-align:center;}
#btn_success{margin-left:90px; margin-right:30px; box-shadow:1px 1px 1px 1px #A3A3A3;}
#btn_danger{box-shadow:1px 1px 1px 1px #A3A3A3;}
/*创建的div*/
.div_cue_div{position:absolute; border:1px dashed gray; border-radius:5px; z-index:100000;} 
#div_cue_bg{width:100%; height:100%; background:#ECECEC; z-index:50000; display:none; position:absolute; top:0px; left:0px; opacity:0.5; filter:alpha(opacity:50);}






