@charset "utf-8";
/* CSS Document */
/*noscript jop*/

.h1{color:white !important; z-index:150000; position:absolute; top:0px; left:150px;}
.h2{color:white !important; z-index:150000 ; position: absolute; top:40px; left:150px;}

/*首页样式*/
.sy_body{ width:100%; height:100%;padding:0px; margin:0px; overflow:hidden;}
.nejery1{ position:absolute; top:0px; left:100px; z-index:10000; }
.sy_nav{
width:338px;
border-width:1px;
border-style:solid;
box-shadow:inset 0px 0px 10px ;
position:absolute; top:50%; left:50%; margin:-10% 0 0 -11%;
opacity:1; filter:alpah(opacity:100); border-radius:5px; box-shadow:1px 1px 4px 4px #B3B3B3;
z-index:1000;
 }
.sy_nav ul li{padding:8px 20px; float:left; margin:15px;
background:rgba(255,255,240,0.8);
 font-size:16px; border-radius:5px; margin-top:10px; }

.footer{ position:absolute; bottom:0px; left:0px; background:rgba(255,255,240,0.5); padding:10px; width:100%; z-index:10000; color:rgba(255,214,0,1.00)}
.footer .footer_fir{padding-left:28%; font-style:italic;}
.footer .footer_sec{padding-left:10%; font-size:none; }
/*这是music */
.aside_music{width:376px; height:40px; position:absolute; bottom:0px; right:-300px; z-index:15100; overflow:hidden;}
.aside_music .img_music{width:76px; height:40px; position:absolute; top:0px; left:0px; border-radius:10px;}
.aside_music .img_music img{width:76px; height:40px; border-top-left-radius:5px; border-top-right-radius:5px;}
.aside_music .sy_music{ position:absolute; bottom:0px; left:76px; padding-bottom:0px; margin-bottom:0px; opacity:0; display:none;}
/*背景*/
#background_ul{position:absolute; top:0px; left:0px;}
#background_ul li{position:absolute; top:0px; left:0px; z-index:0; display:none;}

/*这是nejery提示框*/
#sy_images_logo{position:absolute; top:0px; right:0px; width:46px; height:46px; z-index:15000; padding-top:10px;}
/*这是内容*/
#sy_cue{width:146px; height:440px; position:absolute; top:0px; right:-150px; z-index:15000; opacity:0; filter:alpha(opacity:0);}
#sy_cue h4{background:#FFFACD; padding:10px; font-size:16px !important; color:red;z-index:15000; cursor:pointer; }
#sy_cue ul{width:146px;height:30px;line-height: 30px;color:#d16c6c;font-size:13px;text-indent: 12px;text-decoration: none; z-index:15000; cursor:pointer; position:absolute; top:47px; left:0px;  display:block;}
#sy_cue ul li{width:146px;padding:3px; padding-left:0px; background:rgba(255,255,240,0.8); border-bottom:1px dashed gray; border-right:1px dashed gray; border-left:1px dashed gray; z-index:15000; opacity:0; filter:alpha(opacity:0); position:relative;}
/*内容提示框*/
#div_sy_cue_ifrmation{width:150px; height:100px;z-index:15100; position:absolute; top:20px; right:156px; background:rgba(255,255,240,0.8); border-radius:5px; opacity:0; filter:alpha(opacity:0); display:none; }
#div_sy_cue_ifrmation span{position: absolute; top:40px; right:-11px; color:rgba(255,255,240,0.8);}
#div_sy_cue_inf_inner{padding:2px; vertical-align: middle;word-wrap: break-word;}

/*时间读问候*/
.now_time{width:0px; height:0px; z-index:15000; position:absolute; top:0px; left:0px; background:rgba(255,255,240,0.8); border-radius:5px; opacity:0.5; filter:alpha(opacity:50);}
.now_time .div_time{display:none;  opacity:0; filter:alpha(opacity:0);}
.now_time h4{ margin:5px 10px;}
.now_time .now_year{width:100%; line-height:30px; font-size:16px; padding-left:10px;}
.now_time .now_year img{margin:3px;}
.now_time .now_minute{width:100%; line-height:30px; font-size:20px; margin-left:45px;} 
.greeting{margin-top:10px; text-indent:2em; padding:6px; background:rgba(242,255,197,0.8); border-bottom-right-radius:5px; border-bottom-left-radius:5px;}
/*赞助件*/
iframe{position: absolute; top:0px; lefr:0px; z-index:10000;}