@charset "utf-8";
/* CSS Document */
.main_sm{position: absolute; top:270px; text-align:left; z-index:1000; }
.main_sm .thanks{background:#FFFFF0; padding:10px; width:1000px; border-radius:5px; box-shadow:1px 1px 8px 1px #ccc;}
.main_sm .thanks li{margin-left:2em; padding:5px; border-bottom:1px dashed #ccc; list-style-image:url(../images/logo_thanks.png);}
.main_sm .statement{background: rgba(240,248,255,1.00); padding:10px; width:1000px; border-radius:5px; box-shadow:1px 1px 8px 1px #ccc; margin-top:20px;}
.main_sm .statement li{margin-left:2em; padding:5px; border-bottom:1px dashed #ccc; list-style-image: url(../images/logo_blue.png);}


